---
import { getCollection } from "astro:content";

const allResearch = await getCollection("research");
const allTags = allResearch.map((entry) => entry.data.tags).flat();

console.log(allTags);
---

<span> </span>
